#connectForm{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  p{
    margin-bottom: 10px;
  }
}

h2{
  margin-top: 0px;
  margin-bottom: 30px;
}

::ng-deep input.ng-dirty.ng-invalid, input.ng-touched.ng-invalid{
  border: 1px solid red !important;
}
